ul.w-tree {
    padding-left:0px;
}
.w-tree {
 li {
     list-style-type:none;
 }
 .w-tree-indented:hover {
     background-color:lightgray;

 }
 .w-tree-item {
     cursor:pointer;
     display:inline;
 }
 .w-icon {
     font-family:'Glyphicons Halflings';
     font-size:smaller;
 }
 .w-icon.file:before {
     content:'\e43';
 }
 .w-icon.dir:before {
     content:'\e42';
 }
 .w-tree-indicator {
    cursor:pointer;
    display:inline-block;
    font-family:'Glyphicons Halflings';
    font-size:smaller;
  }
  .w-tree-indicator-open:before {
      padding-right:0.5em;
      content:"\e252"
  }
  .w-tree-indicator-closed:before {
      padding-right:0.5em;
      content:"\e072"
  }
}